.sellersPageContainer {
  padding: 2rem;
  background-color: var(--colorBackground);
  min-height: 100vh;
  box-sizing: border-box;
}

@media (max-width: 480px) {
  .sellersPageContainer {
    padding: 1.5rem 1rem;
  }
}

@media (min-width: 768px) {
  .sellersPageContainer {
    padding: 2rem 4rem;
  }
}
